body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 30px;
}

.botones {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    max-width: 500px;
    margin: 30px auto;
}

button {
    font-size: 24px;
    padding: 30px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.categorias {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    max-width: 500px;
    margin: 30px auto;
}

.categorias button {
    font-size: 22px;
    padding: 30px 15px;
}